<form action='/books/{{title}}/delete?_method=delete' method='post'>
    <p>Are you sure you want to remove {{title}} from your shelf?</p>
    <input type="submit" value="Remove" />
    <a href='/books/{{title}}'>Cancel</a>
</form>