<h1>Add a new book to your bookshelf.</h1>
<form action='/books' method="post" accept-charset="utf-8">
    <lable for="title">Title:</lable>
    <input type="text" name="title" id="title">
    <lable for="author">Author:</lable>
    <input type="text" name="author" id="author">
    <lable for="image">Cover image url:</lable>
    <input type="text" name="image" id="image">
    <lable for="category">Category:</lable>
    <input type="text" name="category" id="category">
    <lable for="summary">Summary:</lable>
    <textarea type="text" name="summary" id="summary" cols="50" rows="5"></textarea>
    <input type="submit" value="Add book">
</form>